
.info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.recipe-box {
  margin: 5px auto ;
  min-height: 50px;
  background-color: #019afc;
}

.recipe-box{
  width: 95%;
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
  margin: 0 auto;
  margin-top: 5px;
}

.recipe_info {
  padding: 10px;
}

.ingre_container {
  width: 100%;
  margin-left: 10px;
  border: 2px dashed white;
  border-radius: 10px;
  padding: 5px 5px;
  text-align: left;
}

.ingredient_box {
  display: inline-block;
  margin: 3px 5px auto;
  min-width: 50px;
  padding: 5px 5px;
  border: 3px white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}