.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  height: 90%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.effect-adding-box {
  width: 95%;
  height: fit-content;
  display: flex;
  margin-top: 10px;
  padding: 10px 10px auto;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.filter-container{
  
  display: flex;
  margin-top: 10px;
  /* padding: 10px 10px auto; */
  /* justify-content: space-between; */
  /* align-items: flex-start;s */

  border-color: white;
  border: 1px white solid;
  border-radius: 5px;
  
  margin: 0px 0px auto;
  border: 1px solid;
  border-radius: 5px;

  position: absolute;
  transform: translate(0, -100%); 
  padding: 10px;
  width: 95%;
  min-height: 30%;
  background-color: black;
  transition: all .2s ease-in-out;
}

.filter-title {
  white-space: nowrap;
}

.choice-container {
  height:fit-content;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin-left: 10px;

  /* background-color: darkslategray; */
  border: 2px dashed white;
  border-radius: 10px;
  padding: 5px 5px;
}

.power-container {
  height: fit-content;
  width: 100%;
  overflow: auto;
  /* white-space: nowrap; */
  
  justify-content: space-between;
  align-items: flex-start;

  border: 2px white;
  border-style: dashed;
  border-radius: 10px;
  padding: 5px 5px;
}

.power-box {
  display: inline-block;
  margin: 0px 5px auto;
  padding: 0px 5px;
  /* width: 200px; */
  border: 3px white;
  border-style: double;
  border-width: 1px dash;
  border-radius: 5px;
  cursor: pointer;
}

.power-unselect {
  background-color: #282c34;
}

.power-select {
  background-color: #61dafb;
}

.type-container {
  /* height:fit-content; */
  /* width: 100%; */
  /* overflow: auto; */
  /* white-space: nowrap; */
  margin-left: 10px;

  /* background-color: darkslategray; */
  border: 2px dashed white;
  border-radius: 10px;
  padding: 5px 5px;
}

.type-box {
  display: inline-block;
  opacity: 0.3;
}
.type-box:hover{
  cursor: pointer;
}
.type-select{
  opacity: 1.0;
}
.type-img {
  width: 100px;
  margin: 2px 10px;
}

.recipe-list-container {
  width: 90vw;
  margin-top: 3vh;
  height: 40vh;
  flex-direction: column;
  overflow-y: scroll;

  background-color: darkcyan;
  border-radius: 5px;
}

.filter-container-main {
  width: 95%;
  margin-top: 1vh;

  /* background-color:#61dafb; */
  height: 40vh;
  position: relative;
}

.recipe-box{
  width: 95%;
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
  margin: 0 auto;
  margin-top: 5px;
}

@media (max-width: 700px) {
  /* .choice-container{ */
    /* width:95%; */
    /* justify-content: space-between; */
    /* align-content: flex-start; */
  /* } */

  /* .type-container, .power-container { */
    /* width:600p; */
    /* justify-content:space-between; */
    /* align-content: flex-start; */
  /* } */

  /* .recipe-list-container { */
    /* width: 95%; */
    /* height: 80%; */
    /* flex-direction: column; */
    /* overflow-y: scroll; */
  /* } */
}

.recipe_info {
  padding: 10px;
}

.ingredient-box {
  display: inline-block;
  margin: 0px 10px auto;
  min-width: 50px;
  padding: 5px 5px;
  border: 3px white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.level-box {
  display: inline-block;
  margin: 0px 10px auto;
  min-width: 50px;
  border: 3px white;
  border-style: double;
  border-width: 1px dash;
  border-radius: 5px;
  cursor: pointer;
}
.three-items{
  width: 20%;
}

.react-icons {
  margin: 5px;
  vertical-align: middle;
}

.level {
  background-color: #282c34;
}

.level-select {
  background-color: #61dafb;
}


.recipe-box {
  margin: 5px auto ;
  min-height: 50px;
  background-color: #019afc;
}

.effect-list-container {
  /* height:75px; */
  margin-top: 10px;
  /* padding: 3px 7px; */
  text-align: left;
  /* overflow-x: auto; */
  /* white-space: nowrap; */
  margin-left: 0px;
  display: flex;
}
.effect-list {
  /* height:50px; */
  margin-top: 0px;
  /* padding: 3px 7px; */
  text-align: left;
  
  flex-direction: column;
  /* align-items: center; */
  /* overflow: auto; */
  /* overflow-y: auto; */
  /* white-space: nowrap; */
  margin-left: 0px;
  display: flex;
}

.filter-box {
  display: inline-block;
  margin: 2px 10px auto;

  width:fit-content;
  padding: 3px 7px;
  min-height: 25px;
  background-color:#61dafb;
  
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
}
.filter-box:hover {
  cursor: pointer;
}

.filter_option {
  width: 95%;
  height: fit-content;
  display: flex;
  margin-top: 10px;
  padding: 10px 10px auto;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.effect_button {
  /* display: inline; */
  /* width: 100%; */
  /* height: 30px; */
  padding: 5px 50px;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: #61dafb;
}

.option-toggle {
  display: inline;
  width: 100%;
  padding: 5px 20px;
  margin: 0px 10px auto;
  /* min-width: 50px; */
  width: fit-content;
  border: 3px white;
  border-style: double;
  border-width: 1px dash;
  border-radius: 5px;
  cursor: pointer;
}

.type_popup_container {
  margin: 0px 0px auto;
  border: 1px solid;
  border-radius: 5px;
  /* position:absolute; */
  /* top: 50%; */
  /* transform: translate(0, -50%); */

  padding: 10px;
  /* width: 95%; */
  /* height: 30%; */
  /* visibility:hidden; */
  /* display: none; */
  /* background-color: rgba(22,22,22, 1.0); complimenting your modal colors */
  background-color: black;
  transition: all .2s ease-in-out;
}

.type_popup_container:target {
  visibility: visible;
  display: block;
  transform: scale(1.5);
}

/* .reveal-modal {
  position: relative;
  margin: 0 auto;
  top: 25%;
} */
.black_closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.black_closebtn:hover {
  color: gray;
}