.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result-container {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: 2px auto;
  width: 250px;
  background-color: #b0b00b;
}

.recipe-box{
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
  margin: 0 auto;
  margin-top: 5px;
}


.filter-container{
  width: 700px;
  height: fit-content;
  display: flex;
  margin-top: 10px;
  /* justify-content: space-between;
  align-items: flex-start; */
}

.choice-container {
  display:flex;
  width: 800px;
  flex-wrap: wrap;
  /* flex-direction:column; */
  margin-top: 0px;
  justify-content: space-between;
  align-items: flex-start;
}


@media (max-width: 700px) {
  .filter-container {
    width: 95%;
    flex-direction: column;
  }
  .choice-container{
    width:95%;
    justify-content: space-between;
    align-content: flex-start;
  }

  .recipe-list-container {
    width: 95%;
    flex-direction: column;
  }
}

.type-box {
  margin: 5px auto;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
}

.type-unselect {
  background-color: #282c34; 
}

.type-select{
  background-color: #61dafb;
}

.level-box {
  margin: 5px auto;
  min-width: 50px;
  width: 29%;
  max-width: 100px;
  
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
}


.level {
  background-color: #282c34;
}

.level-select {
  background-color: #61dafb;
}

.power-box {
  margin: 5px auto;
  width: 150px;
  border: 3px;
  border-radius: 5px;
  border-color: white;
}

.power-unselect {
  background-color: #282c34;
}

.power-select {
  background-color: #61dafb;
}


.recipe-box {
  margin: 5px auto ;
  min-height: 50px;
  background-color: #019afc;
}

.filter-box {
  margin: 5px auto ;
  min-height: 25px;
  background-color: gray;
  
  text-align: center;
  border: 2px dashed #f69c55;
  
  /* margin-left: 5px;
  margin-right: 5px;
  border-width: 3px;
  border-radius: 5px;
  border-color: white; */
}

.button {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #61dafb;
}