.App {
  text-align: center;
}

.App-header {
  height: 100vh;
  /* height: calc(100vh - env(safe-area-inset-bottom)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  height: 90%;
}

@media screen {
  .App-header {
    height: -webkit-fill-available;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (max-width: 700px) {
} */
